.masthead {
    background-image: url(../img/solid_bg.png), url(../img/pattern.png);
    background-position: left top, left top;
    background-repeat: repeat, repeat;
    border-bottom: 1px solid #78b5da;
}
.featured {
    text-align: center;
}
.navbar-inverse .extra img,
.featured img {
    box-shadow: none;
    margin-top: 6px;
}
.featured img {
    margin: 20px 0;
    box-shadow: none;
}
.brand {
    text-indent: -9999px;
    background: url(../img/small_logo.png) center center no-repeat;
    width: 32px;
    height: 27px;
}
.navbar-inverse .extra .pull-left {
    margin: 8px 3px 0 0 !important;
}
.navbar-inverse .extra .pull-left .flag1 {
    color: #ed2200;
}
.navbar-inverse .extra .pull-left .flag2 {
    color: #fff;
}
.navbar-inverse .extra .pull-left .flag3 {
    color: #0083b8;
}
.navbar-inverse .extra {
    background-color: #000;
    padding: 5px 25px;
}
#map img {
	max-width: none;
	box-shadow: none;
}


.icon-warning-sign {
	color: #f00;
}

#search {
	margin-bottom: 10px;
	padding: 10px;
	border: solid 1px #ccc;
}

#search input[type="text"] {
box-sizing: border-box;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 18px;
}

#search a {
	text-decoration: none;
}

#search a img {
	vertical-align: middle;
}

#search .status {
	margin-left: 20px;
}

#map {
	height: 600px;
}

#infoWindowTemplate {
	display: none;
}

#map .infoWindow {
	padding: 10px 0;
}

#map img.logo {
	width: 100px;
	padding-right: 20px;
	vertical-align: text-top;
}

html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 90%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
        padding-top:45px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        text-align: center;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      
.social-icon {
	color: #6c6c6c;
}

.navbar > a:hover {
	text-decoration: none;
}

#protest_footer {
	clear: both;
}

#protest_other {
	clear: both;
	padding: 7px;
}

.protest_info {
	padding: 4px;
	white-space: nowrap;
}

.back_link {
	font-size: 1.2em;
	margin-left: 5px;
}

#protest_data {
	max-width: 600px;
}

#social_link_icon {
	vertical-align:bottom;
}
