.masthead {
    background-image: url(../img/solid_bg.png), url(../img/pattern.png);
    background-position: left top, left top;
    background-repeat: repeat, repeat;
    border-bottom: 1px solid #78b5da;
}
.featured {
    text-align: center;
}
.navbar-inverse .extra img,
.featured img {
    box-shadow: none;
    margin-top: 6px;
}
.featured img {
    margin: 20px 0;
    box-shadow: none;
}
.brand {
    text-indent: -9999px;
    background: url(../img/small_logo.png) center center no-repeat;
    width: 32px;
    height: 27px;
}
.navbar-inverse .extra .pull-left {
    margin: 8px 10px 0 0 !important;
}
.navbar-inverse .extra .pull-left .flag1 {
    color: #ed2200;
}
.navbar-inverse .extra .pull-left .flag2 {
    color: #fff;
}
.navbar-inverse .extra .pull-left .flag3 {
    color: #0083b8;
}
.navbar-inverse .extra {
    background-color: #000;
    padding: 0 25px;
}