{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block stage %}
<div class="container">
    <div class="row">
        <div class="span12">
            {% if protest_list %}
            	<ul>
            	{% for protest in protest_list %}
            		<li><a href="/protests/{{ protest.id }}/">{{ protest.city }}</a></li>
            	{% endfor %}
            	</ul>
            {% else %}
            	<p>No protests! :(</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
