{% extends "pages/page.html" %}
{% block meta_title %}{{protest.city}}{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
    {% if protest %}
        <div class="span8">
            	<h1>{{ protest.city }}, {{ protest.state }} </h1>
            	<div class="protest-info">
			<div class="pull-left">
				<span class="protest_info"><i class="icon-map-marker icon-2x"></i> {{protest.location}}</span>
				<span class="protest_info"><i class="icon-calendar icon-2x"></i> {{protest.date}}</span>
				<span class="protest_info"><i class="icon-time icon-2x"></i> {{protest.time}}</span>
				<span class="protest_info"><i class="icon-male icon-2x"></i> {{protest.organizer}}</span>
			</div>
			<div class="pull-right">
				{% if protest.reddit_page %}
					<a href="{{protest.reddit_page}}"><img src="{{STATIC_URL}}img/social/reddit.png" /></a>
				{% endif %}
				{% if protest.fb_page %}
					<a href="{{protest.fb_page}}"><img src="{{STATIC_URL}}img/social/facebook.png" /></a>
				{% endif %}
				{% if protest.twitter %}
					<a href="{{protest.twitter}}"><img src="{{STATIC_URL}}img/social/twitter.png" /></a>
				{% endif %}
			</div>
		</div>

            <div id="protest_other" class="span7">
            	{% if protest.other %}
            		<p>{{protest.other}}</p>
            	{% endif %}
            </div>

            <div id="protest_footer">
            	<p><a href="/protests"><i class="icon-circle-arrow-left icon-large"></i><span class="back_link">All Protests</span></a></p>
            </div>
        </div>
        {% else %}
        	<p>No protest! :(</p>
        {% endif %}
    </div>
</div>
{% endblock %}
