{% extends "pages/page.html" %}
{% block meta_title %}Protests{% endblock %}
{% block main %}

            {% if protest_list %}
            	<table id="protest_table" class="table table-striped table-bordered">
            		<thead>
            			<tr>
            				<th>State</th>
            				<th>City</th>
            				<th>Date</th>
            				<th>More Info</th>
            			</tr>
            		</thead>
            		<tbody>
		    	{% for protest in protest_list %}
		    		<tr>
		    			<td>{{ protest.state }}</td>
		    			<td>{{ protest.city }}</td>
		    			<td>{{ protest.date }}</td>
		    			<td><a href="/protests/{{ protest.id }}/">Link</a></td>
		    		</tr>
		    	{% endfor %}
		    	</tbody>
		</table>
            {% else %}
            	<p>No protests! :(</p>
            {% endif %}

<script type="text/javascript">
$(document).ready(function() {
    $('#protest_table').dataTable();
});
</script>
{% endblock %}
