{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block stage %}
<div class="container">
    <div class="row">
        <div class="span12">
            {% if protest %}
            	<h1>{{ protest.state }} > {{ protest.city }} </h1>
		<ul>
			<li><b>Location:</b> {{protest.location}}</li>
			<li><b>Date:</b> {{protest.date}}</li>
			<li><b>Time:</b> {{protest.time}}</li>
			{% if protest.organizer %}
				<li><b>Organizer:</b> {{protest.organizer}}</li>
			{% endif %}
			{% if protest.reddit_page %}
				<li><a href="{{protest.reddit_page}}">Reddit</a></li>
			{% endif %}
			{% if protest.fb_page %}
				<li><a href="{{protest.fb_page}}">Facebook<a/></li>
			{% endif %}
			{% if protest.twitter %}
				<li><a href="{{protest.twitter}}">Twitter</a></li>
			{% endif %}
			{% if protest.other %}
				<li><b>Other:</b> {{protest.other}}</li>
			{% endif %}
		</ul>
            {% else %}
            	<p>No protest! :(</p>
            {% endif %}
            <p><a href="/protests">&lt;&lt; Protests</a></p>
        </div>
    </div>
</div>
{% endblock %}
